# Jekyll build
_site/
.jekyll-cache/
.jekyll-metadata
.sass-cache/

# Bundler / Ruby
/vendor/bundle/
/.bundle
vendor/cache/
vendor/gems/

# Node
node_modules/
npm-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs and temp
*.log
.env
.cache
