{% seo %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="{{ site.description | escape }}">
<meta name="author" content="{{ site.author | escape }}">
<link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

<title>{% if page.title %}{{ page.title | escape }} | {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

<!-- Bootstrap core CSS -->
<link href="{{ '/assets/css/bootstrap.min.css' | relative_url }}" rel="stylesheet" />

<!-- Custom fonts and icons -->
<link href="{{ '/assets/css/all.min.css' | relative_url }}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet" type="text/css">

<!-- Custom styles for this theme -->
<link href="{{ '/assets/css/agency.css' | relative_url }}" rel="stylesheet" />
<link href="{{ '/assets/css/branding.css' | relative_url }}" rel="stylesheet" />

